h1 The Chinese Way of Eating Healthy

.row
    .col-md-12.hidden-sm.hidden-xs
        .vignette
            img.horizontal-align(src='images/classes/eating-healthy.jpg')
    .col-md-12
        p The purpose of this class is to teach Chinese nutrition, medicated diet and cooking with herbs.

        p Attendees must bring his/her own Asian rice bowl, chopsticks and spoon for food sampling.

        ul
        li Learn a part of Chinese herbology known as medicated diet/ nutrition/ food therapy.
        li How does the essence of good eating affect digestion and aging?
        li How to choose foods and eat according to the seasons?
        li What foods you should eat with a particular illness and according to your bodies constitution?
        li Tips on cooking with herbs to keep your family healthy.
        li Step by step cooking instructions will be demonstrated by instructor.
        li How to prepare herbal soups?
        li How to lose weight naturally?

        p Date and Time:  TBA
        p.
            Payment must be paid to reserve seat.  No refund for non-attendance. No recording of any kind is allow without prior
            permission from Center for Integrated Medicine.