h1 Tai Chi

.row
    .col-md-12
        img.hidden-sm.hidden-xs.horizontal-align(src='images/classes/tai-chi.jpg')
    .col-md-12
        p.
            Tai Qi, (T’ai Chi), Chuan is an exercise system of ancient origin. It is an art of self-discipline and self-defense
            based upon the movements of animals and birds as well as the philosophy of Yin and Yang. It helps promote inner
            relaxation, harmony, and strength if practiced regularly. Tai Qi blends the internal meditation association of Qi
            Gong with an external exercise program. It involves slow, graceful movements and can be practiced almost anywhere.

        p.
            If you'd like to sign up for our Tai Chi classes, here are some quick notes to remember:
        ul
            li This class is designed for beginners.

            li Please wear comfortable and supportive closed-toe shoes (no heels or flip-flops) and loose, comfortable clothing.

            li Bring water bottle for hydration especially during summer months for class is held outdoors.

            li Pre-registration is required. Payment must be dropped off in advance to reserve your slot.  Ask clinic staff or
                |  check FB for class schedule. No refund after the first session.

            li Due to the nature of the class, any type of recording is not allowed.  In addition because of limited space, no
                |  visitors are allow without prior permission from Center for Integrated Medicine. One is encourage to view
                |  YouTube videos to get a feel of Tai Chi.

