nav.studentProgNav#studentProgNav
    .hidden-xs
        ul.nav.nav-pills
            li
                a#b1.active(href='javascript:getContent("holisticCert", "edOps/studentPrograms/", "studentPrograms");') Holistic Health Certificate
            li
                a#b2(href='javascript:getContent("internships", "edOps/studentPrograms/", "studentPrograms");') Internships
            li
                a#b3(href='javascript:getContent("medAppr", "edOps/studentPrograms/", "studentPrograms");') Medical Apprenticeship
    .form-group.visible-xs
        select#studentProgSelect.form-control(onchange='javascript:getContentFromDropdown(this.value);')
            option#c1(value='holisticCert,edOps/studentPrograms/,studentPrograms') Holistic Health Certificate
            option#c2(value='internships,edOps/studentPrograms/,studentPrograms') Internships
            option#c3(value='medAppr,edOps/studentPrograms/,studentPrograms') Medical Apprenticeship

script.
    $('.studentProgNav li a').click(function() {
        removeActive('#studentProgNav');
        selectNav($(this).attr('id'), ['#b'], '#c');
    });

    $('#studentProgSelect').change(function() {
        removeActive('#studentProgNav');
        selectNav($(this).children(":selected").attr("id"), ['#b'], '#c');
    });