h1 Clinic Staff

.row
    .col-md-6
        .row.vertical-align
            .col-md-4
                img.profilePic(src='images/staff/christinLang.jpg')
            .col-md-8
                ul
                    li
                        b Christin Lang
                    li
                        b Medical Receptionist
                    li
                        b Pre-med student. College of Sequoias, Visalia
    .col-md-6
        .row.vertical-align
            .col-md-4
                img.profilePic(src='images/staff/kandaceDresser.jpg')
            .col-md-8
                ul
                    li
                        b Kandace Dresser, BA, L.Ac, DOAM candidate
                    li
                        b Traditional Chinese Medicine Practitioner; Acupuncturist
                    li
                        b Emperors College of Traditional Oriental Medicine, Los Angeles
.row
    .col-md-6
        .row.vertical-align
            .col-md-4
                img.profilePic(src='images/staff/edwardVelasquez.jpg')
            .col-md-8
                ul
                    li
                        b Edward Velasquez, BA
                    li
                        b Certified Tai Qi Instructor (Sun Style Short Form)
                    li
                        b Certified Qi Gong Instructor
    .col-md-6
        .row.vertical-align
            .col-md-4
                img.profilePic(src='images/staff/craigTisdale.jpg')
            .col-md-8
                ul
                    li
                        b Craig Tisdale
                    li
                        b Qi Gong Instructor
                    //li
                    //    b Youtube Qi Gong Instructor
.row
    .col-md-6
        .row.vertical-align
            .col-md-4
                img.profilePic(src='images/staff/profile-placeholder-sm.jpg')
            .col-md-8
                ul
                    li
                        b Jackesly Rios
                    li
                        b Certified Massage Therapist
                    li
                        b Milan Institute, Visalia
    .col-md-6
        .row.vertical-align
            .col-md-4
                img.profilePic(src='images/staff/adrianRayos.jpg')
            .col-md-8
                ul
                    li
                        b Adrian Rayos
                    li
                        b Office Clerk. AV/ IT Technician
                    li
                        b Computer Science, College of Sequoias
.row
    .col-md-6
        .row.vertical-align
            .col-md-4
                img.profilePic(src='images/staff/alanKleist.jpg')
            .col-md-8
                ul
                    li
                        b Alan Kleist
                    li
                        b Office Clerk, Herb Gardening
                    li
                        b Massage Therapist
    .col-md-6
        .row.vertical-align
            .col-md-4
                img.profilePic(src='images/staff/geneGong.jpg')
            .col-md-8
                ul
                    li
                        b Gene Gong
                    li
                        b Asian Cultural Society
                    li
                        b General Food Store. Woodlake, CA