h1 Past Interns

p.
    Center for Integrated Medicine is an affiliated teaching site for both conventional allopathic medicine and
    TCM/Acupuncture interns.  It is also a participant in the California approved medical apprenticeship/ tutorial
    program. Through out Dr. Kwong’s career, she had precept/ trained over 70 students at her clinic at no charge to the
    students or to their university programs.  Many of these students has went on to become physicians, nurses,
    pharmacists, therapists, professors, MBA and so on. The following is only a partial list of past interns.

ul
    li E. Wang, Pharm.D.- Univ. of Pacific. Fresno VA Hospital
    li N. Basrai, L.Ac.- Stanford Univ., Yosan Univ. of Traditional Chinese Medicine
    li Z. Yang, B.S. Biochemistry- UC Davis
    li J. Halverstadt, R.N.- Brigham Young Univ.
    li J. Zhou, Pharm.D.- Univ. of Pacific. Fresno VA Hospital
    li S. Wells, Premed - Fresno City College
    li H. Hurtado, BA Psychology- Fresno State Univ.
    li C. Naish, Certificate Med. Assisting- San Joaquin College
    li A. Patel, BA Health Sciences- Fresno Pacific Univ.
    li E. Gonzales, BA Psychology- Chapman Univ.
    li S. Kim - College of the Sequoias
    li J. Zeng, Pharm.D.- Univ. of Pacific. Fresno VA Hospital
    li B. Amaro, Pre-nursing- College of the Sequoias
    li M. Brar, BA Health Sciences- Fresno Pacific Univ.