h1.horizontal-align Welcome to Center for Integrated Medicine

p.horizontal-align
    b Are you ready to start feeling better? Traditional Chinese Medicine, It Works!
hr
.row.visible-xs
    .col-md-12
        img.horizontal-align(src='images/office.png')
.row
    .col-md-12
        figure.hidden-xs
            img(src='images/office.png')
            figcaption
                | 816 W Oak Ave, Visalia, CA 93291
                br
                b Phone:
                |  559-625-4246
                br
                b Email:
                |  integratedmedicine@sbcglobal.net
        p
            | Welcome, Center for Integrated Medicine has relocated to 816 W. Oak Ave as of Feb. 2017. Our Center was
            | established in 1994, the first medical practice of its kind to start locally in Visalia. The Center is now the
            b
                |  largest independent, full service TCM (Traditional Chinese Medicine) practice in California South Valley.
        p
            | We are medical practitioners of Traditional Chinese Medicine (not by racial decent, but by professional degree).
            | TCM evolved from the ancient Chinese and is both an art and a science.  It is important to understand that TCM
            | is called “Traditional” because it is a complete medical system just like allopathic conventional medicine.
            | Chinese medicine is called “Traditional” because it follows accepted medical methods and has proven explanations
            | for its effectiveness. Therefore TCM is a complete medical system based on
            b
                |  natural and holistic principles for
                | both diagnostic and treatment purposes. TCM is also functional medicine.
        p
            | At its core, it is based on medical principles that view the body as an
            b  integrated whole
            |  of mind, body and
            |   spirit. We understand that we must practice side-by-side with our conventional Western medical colleagues (those
            |   with designated M.D. title) to best serve the healthcare needs of our patients.  The goal here is to
            |   successfully integrated TCM with the customary conventional Western medicine that the majority of the people
            |   receive. To that end, our approach is to provide medical care that is either alternative, complementary or as an
            |   adjunct. We believe that providing this kind of healthcare choice to our patients is the best of both worlds.
        p
            | We will find
            b  innovative solutions
            |  to your health-care needs, we care and we listen.  In addition to being in
            |   good standing with the medical community, our success record with patients has been exemplary over the years.
            b
                |  Our Center consist of a medical clinic with an on-site, one-of-kind natural medicine/ herb pharmacy and on-site
                | herb garden (at its beginning stages).  The Center also serves as an accredited teaching facility for interns
                | and medical students.
            |  Our facility is convenient for patients because it is a stand alone building with private
            |   parking (as well as plenty of street parking).  We are located at the corner of Oak Ave and Conyer, downtown
            |   Visalia.
        p
            | Thank you for visiting our website. There is so much more to learn about who we are and the world of TCM.
            b  Please call us to schedule your appointment today at 559-625-4246.
        p Sincerely,
        p
            | Dr. Kwong, Pharm.D., L.Ac., O.M.D.<br>
            | Co-founder and owner