.logoHeader
    .row.horizontal-align.vertical-align
        .col-md-2
            img.jadeLogoHeader(src="images/jadeGardenLogo-sm.jpg")
        .col-md-8
            h1.headerText Center for Integrated Medicine
        .col-md-2
            img.jadeLogoHeader(src="images/jadeGardenLogo-sm.jpg")