.logoHeader
    .row.horizontal-align.vertical-align
        .col-md-2
            img.jadeLogoHeader(src="images/jadeGardenLogo-sm.jpg")
        .col-md-8.horizontal-align
            h1.headerText.hidden-xs Center for Integrated Medicine
            h1.headerText.visible-xs.spaceOut CIM
        .col-md-2
            img.jadeLogoHeader(src="images/jadeGardenLogo-sm.jpg")