h1 FAQs


.row
    .col-md-9
        a.faqLink(data-toggle='collapse', data-target='#Treatable') What can traditional chinese medicine treat?
            span(class='glyphicon glyphicon-menu-down')
        #Treatable.collapse
            p.
                Traditional Chinese Medicine can treat a wide variety of issues and medical complications. These
                conditions include, but are not limited to: Addiction, Allergies, Aromatherapy, Asthma, Cardiovascular,
                Chronic Fatigue Syndrome, Colds and Flu's, Cosmetic Acupuncture, Dermatology, Diabetes, Facial
                Diagnosis, Facial Rejuvenation/Cosmetic, Family Practice, Fibromyalgia, Gastrointestinal Disorders,
                Geriatrics, HIV/AIDS, Headaches/Migraines, Hepatitis, Hypertension, Immune Disorders, Infertility,
                Insomnia, Internal Medicine, Menstrual Disorders, Musculoskeletal Disorders, Neurological Disorders,
                Nutrition, Obstetrics & Gynecology, Oncology Support, Orthopedics, Osteoporosis, Pain Management,
                Pediatrics, Psychological/Emotional Disorders, Rheumatology, Sexual Dysfunction, Smoking, Sports
                Medicine, Stress/Anxiety, Stroke Rehabilitation, Weight Reduction, Women's Health, Auricular
                Acupuncture, Disease Management, Pharmaceutical Consulting and Monitoring, Longevity programs,
                TCM counseling, and Lifestyle consultation. If your ailment does not appear on this list, it does not
                mean it cannot be treated with Acupuncture/ Traditional Chinese Medicine.
                 |
        br
        a.faqLink(data-toggle='collapse', data-target='#MDMyth') Is it true that Acupuncture is best performed by an
            |  M.D.?
            span(class='glyphicon glyphicon-menu-down')
        #MDMyth.collapse
            p.
                MD Physicians performing acupuncture have little if any training.  Referred to as “medical acupuncture“,
                they need only 200 hours of training of which 80 hrs of clinical is required for a Certificate. On the
                other hand,  Licensed Acupuncturist with a designated degree of L.Ac. undergone at least 4-5 years of
                extensive training in the complete system of Chinese medicine of which acupuncture is just one modality
                of natural & holistic medicine. L.Ac.are also required to be tested for competency (classroom and
                internship)  through medical school of Oriental medicine (again referring to professional degree and not
                racial decent), then is required to pass California State Board examination.
        br
        a.faqLink(data-toggle='collapse', data-target='#painMyth') Is it true that Acupuncture is only used for pain?
            span(class='glyphicon glyphicon-menu-down')
        #painMyth.collapse
            p.
                There are many conditions other than pain that acupuncture can help with. Since the early 1970’s many
                studies have revealed acupuncture’s ability to relieve pain.  Because of this fact, the established
                medical community stereotyped acupuncture as a treatment only for pain.  Those who studied and practiced
                Traditional Chinese Medicine knew otherwise. Both the National Institute of Health and World health
                Organization have recognized the efficacy of acupuncture other than pain relief.
        br
        a.faqLink(data-toggle='collapse', data-target='#preparation') How Should I Prepare for My Acupuncture Visit?
            span(class='glyphicon glyphicon-menu-down')
        #preparation.collapse
            ul
                li Wear loose, comfortable clothing for easy access to acupuncture points.
                li Please do not come with an empty stomach but avoid large meals just before your visit.
                li Refrain from over exertion, heavy work outs at gym, or alcohol for up to six hours after acupuncture
                    |  session.
                li Schedule your chiropractic or physical therapy session on non-acupuncture days.
                li Avoid stressful situations.  Drink water and make time to relax and rest. Prepare your herbs
                    |  prescribed by your acupuncture doctor.
                li Between sessions/ office visits, take notes of any changes that may occurred such as alleviation,
                    |  changes in frequency, changes in duration, decrease in severity,  changes in affected areas and
                    | so on.
            ul
                li Read section on Partnership to Better Health for more information
        br
        a.faqLink(data-toggle='collapse', data-target='#expectations') What Should I Expect During a Acupuncture Session?
            span(class='glyphicon glyphicon-menu-down')
        #expectations.collapse
            p.
                Upon insertion of the needle/ pin by the acupuncturist/ TCM doctor, the arrival of “De Qi” or Qi
                sensation will vary depending on the patient. The feeling can be described as a feeling of energy
                spreading from the needle. Others may feel minor distention, numbness, slight heaviness, tingling or
                temporary dull ache. This is normal and considered a good reaction to the acupuncture session. The
                treatment is working at this time. After acupuncture session, you may feel energized or may feel a deep
                sense of relaxation or well-being.
            p.
                Those that come in for pain relief may experience a temporary increase in pain after the session which
                will go away. This healing crisis occurs because the bodily functions are trying to balance itself and
                to rid of toxins/ congestions/blockages. If this happens, patient is encourage to drinks lots of water,
                get plenty of sleep, and allow the body to recover.
        br
        a.faqLink(data-toggle='collapse', data-target='#numTreatments') How Many Treatment Sessions Will I Need?
            span(class='glyphicon glyphicon-menu-down')
        #numTreatments.collapse
            p.
                The number of sessions will vary from person to person.  Some experience immediate relief while others
                may take months or even years to achieve results.  Chronic conditions require many more sessions. In
                general, plan on at least one course of treatment to see significant changes.  A course of treatment is
                10-12 sessions. After a course, your TCM doctor/ Acupuncturist may want to reassess your holistic
                imbalances/diagnosis.
            p.
                Frequency of treatments depends on a variety of factors.  Some include, your constitution, severity and
                duration of symptoms, quality and quantity of your holistic imbalance(s). Your TCM medical practitioner
                may suggest one or two treatment sessions per week for acute cases, monthly visits for health
                maintenance, or seasonal tune-ups.
        br

    .col-md-3
        h4 Not finding any of these questions helpful?
        p.
            If you have any other personal questions that aren't listed here, please do not hesitate to contact the
            office of Dr. Kwong at (559) 625-4246