h1 Insurance
p
    | At our Center, we are a
    b
        |  fee-for-service facility. Payment is expected at the time of each treatment session.
p
    | There are only a few insurance companies that we contract with. Majority of insurances do not rise to such a level
    | to make it worthwhile for us to process your claim.  In that case, we have establish a flat fee for our services and
    | give you the option of billing your insurance company yourself. A
    b  super bill
    |  can be provided for you to self bill at
    |   no additional cost. Please note that most insurance companies view holistic and natural medicine services
    |   differently that medical services provided by your allopathic MD doctor. Your insurance company will reimburse you
    |   directly.
p
    | As of this writing, Medicare does not provide coverage for our services.  Legislation is pending however to change
    | this.
p Please refer to our Fees & Services for more information.
