h1 A Partnership to Better Health

p.
    It is important for our patients and their family to have confidence in the medical treatment they receive. It is
    both necessary and desirable that each patient participate in maintaining good health. The following is a list to
    assist potential patients of Traditional Chinese Medicine/Acupuncture at our clinics.
ol
    li.
        Keep your appointments. If you must cancel or re-schedule, please let us know as early as you can, so that other
        patients can be scheduled for that time slot. Keep in mind that there are many follow-up appointments which are
        necessary in a TCM/holistic/natural treatment regimen. This is to ensure that the underlying imbalance is
        treated and not just the symptoms. This is even more important if you have a chronic illness or in other words
        a long standing illness.
    li.
        Become an active participant. An acupuncturist will prescribe a regimen of natural medicinals, diet
        modifications, Chinese healing exercises, etc. Medical advice is always given for your benefit and your
        cooperation is essential outside our clinic. Another way to become an active participant in your health is by
        attending our workshops to help you understand a different approach to health. At these workshops, your
        acupuncture/TCM doctor will have more time to answer questions because he/she is not involved in direct
        patient-care.
    li.
        Follow medical advice pertaining to natural medicinals whether it be herbal tea decoctions, external liniments,
        over-the-counter products, or other treatments. Do not be afraid of taking herbs even if you are on prescription
        drugs. In most states including California, Acupuncturists are the only health professional who studied herbal
        medicine during medical school, and have clinical training in herbs. Acupuncturists are also specifically
        licensed to prescribe and dispense natural medicinals. Patients, when under the supervision of a TCM doctor and
        are manage properly on a regular basis rarely have herb-drug or herb-food reactions occur. Overall, herbs are
        much safer than drugs.
    li.
        You are encourage to give us a list of both drugs and non-drugs, other current therapies or if you are going to
        have surgery. If you do not remember the names of the medication, please ask the receptionist to give you an
        authorization form to fill out so that a med print out from your pharmacy can be fax over to our clinic. This
        information is used as a reference and will not interfere with the prescribing of herbs based on TCM holistic
        diagnosis/imbalances. Since most patients are on a multiple of drugs from their “M.D.” physicians, your
        acupuncturist will dose the herb/natural medicinals very low so to monitor your therapy properly.
    li.
        If your other health professionals/physicians have questions about any part of your medical care at our Center,
        It is highly recommended that you refer him/her to our resources such as website, medical articles we have
        written/published, workshops/classes, etc. From our experiences, these resources are very helpful to
        conventional allopathic physicians since majority has little/no clinical training in TCM.
    li.
        Be sure to report any problems or difficulties you are having by calling our clinics during regular office
        hours, or if the difficulties you are experiencing is not urgent, sent us an email. The human body is very
        complex and people vary in their responses to therapy.
