h1 Patient Courtesies
p
    | Here at the Center for Integrated Medicine, we welcome all of our incoming patients warmly. As such, we would like
    | to create a welcoming environment for said new patients. Because of this, we ask that our patients follow three
    | simple rules to be kind and courteous to everyone:
p
    ol
        li
            b
                | Please refrain from using scented lotions, oils, perfumes or colognes before your appointment.
            |  Heavy smokers are
            |       encourage to rinse with non-scented mouth wash before acupuncture appointment. We strive to provide a
            |       chemical/toxic/allergic free environment for all.
        li
            b
                | Cancellation policy; Patients who do not notify us within 24 hours for cancellation or rescheduling are subject
                | to an $80.00 fee for new patients or $50.00 fee for current patients.  Notification
                b  must be done over phone.
                |       Thank you for your cooperation!
