h1 About Dr. Kwong
.row.vertical-align
    .col-md-4
        img.profilePic(src='images/staff/drKwong.jpg')
    .col-md-8
        ul
            li
                b Owner and Co-founder of CIM
            li
                b Physician of Traditional Chinese Medicine
            li
                b Lic. Acupuncturist/ Herbalist
            li
                b Holistic and Natural Family Medicine
            li
                b Professor of Integrative Medicine
            li
                b Doctor of Pharmacology
            li
                b Clinical Preceptor to Medical Interns
.row
    .col-md-12
        p
            | She is the heart and soul of the Center for Integrated Medicine (CIM). She have been in medical practice since 1994
            | and have been engaged in Traditional Chinese Medicine much earlier.  Began as Far East Herbals Clinic and Apothecary
            | in the early 90’s which later became Center for Integrated Medicine.
            b
                | She helped start a special brand of medicine
                | offered in a very unique way to California South Valley.
        p
            | Her philosophy is firmly rooted in the belief that illness is the cause of imbalances and disharmonies of the body.
            | Wellness is achieve through correcting the imbalances usually by a combination of TCM (Traditional Chinese Medicine)
            | medical modalities.  She has treated a broad spectrum of medical conditions and believes that these is no true
            | healing without simultaneous involvement of body, mind, and spirit.
        p
            | She is truly a modern day medical practitioner and is an invaluable resource to her community since she is able to
            | integrated the two health care systems. Dr. Kwong has
            b clinical doctorate degrees
            |  in both Western allopathic medicine
            |   (Pharm.D.) and that of Oriental medicine (O.M.D.) as well as that of a Professor of integrative medicine and
            |   Clinical Preceptor to medical interns.  Teaching is a big part of this Center and she continues to precept intern
            |   students from various universities.
        p
            | Born in Hong Kong; speaks English and Chinese (Cantonese and Toisanese).
            b
                | Her background and training has provided
                | her with a unique ability to be sensitive to the diverse background of the Central Valley.
            |  Walking into her clinic
            |   is very much like entering a natural medicine museum. One will notice the medical artifacts from Asia, particularly
            |   the medicinal items (now antiques) once used by her father and great uncle at their clinic in Hong Kong.
        p
            | She is also the co-founder and president of ACS (Asian Cultural Society) and ASAO (Autism Spectrum/Asperger
            | Organization of Tulare and Kings County).  You will find her tending to her herb garden when she is not teaching,
            | lecturing, writing or involved inpatient care.
        p
            | To purchase
            b  copies of medical articles published in professional journals
            |  written by Dr. Kwong, please call the
            |   clinic to inquire.
        p
            | Those who are interested in
            b  booking a speaking engagement
            |  with Dr. Kwong, also call the clinic to inquire.
