h1 Staff And Interns
.row
    .col-md-12
        p.
            Here at the Center for Integrated Medicine, we have a very inviting staff. All of our staff members are
            highly qualified in their roles and positions. Additionally, we would like give notoriety to our interns who
            have worked with us in the past.
.row
    .col-md-12
        include subNavBars/staffInternNav
.row
    .col-md-12
        #staffInternsContent
            include staffInterns/clinicStaff