html {
    font-family: 'Josefin Sans', sans-serif;
    overflow-y: scroll;
}

.mainContentWrapper {
    max-width: 1080px;
    margin: 0 auto;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    background-color: #ffffff;
    color: #000000;
}

footer {
    text-align: center;
    font-size: 14px;
}

img {
    opacity: 0.9;
    border-radius:10px;
    position: relative;
    max-width: 100%;
    min-width: 25px;
}

.spaceOut {
    letter-spacing: 0.5em;
    text-indent: 0.5em;
}

.modalityImg {
    max-width: 75%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.headerWrapper {
    border-radius: 5px;
    background-color: #5d8d5d;
}

.carousel-inner {
    background-color: #5d8d5d;
}

#indexContent {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

a {
    color: #31402f;
    font-size: 22px;
    outline: 0;
}

a:hover {
    color: #5d8d5d;
}

.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

.faqLink {
    font-size: 20px;
    cursor: pointer;
}

.mainContentWrapper {
    margin: 0 auto;
    padding: 0;
}

.profilePic {
    margin: 20px;
}

.jadeLogoHeader {
    border-radius:100%;
}

.logoHeader {
    /*opacity: 0.7;*/
    /*z-index: 3000;*/
    /*width: 1080px;*/
    /*position: absolute;*/
    /*top: 0;*/

    background-color: #5d8d5d;
    border-radius:5px;
    border: solid #5d8d5d 1px;
}

.headerText {
    color: #ffffff;
}

.vignette {
    margin-top:20px;
    margin-bottom:20px;
    /*margin-top:50px;*/
    /*margin-bottom:50px;*/
    /*border-radius: 10px;*/
    /*box-shadow: inset 0 0 100px #5d8d5d, 0 0 100px #5d8d5d;*/
}

.horizontal-align {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.lightGreen-bg {
    display: inline-block;
    background-color: #a3d0b5;
    border-radius: 10px;
}

figure {
    display: inline-block;
    float: right;
    margin: 20px;
    border-radius: 10px;
    background-color: #a3d0b5;
    /*box-shadow: inset 0 0 100px #5d8d5d;*/
}

figure figcaption {
    text-align: center;
}

/*fonts*/
h1 {
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-size: 200%;
    /*font-style: normal;*/
    /*font-variant: normal;*/
    font-weight: bold;
    /*line-height: 26px;*/
}
/*h3 {*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-size: 21px;*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: bold;*/
    /*line-height: 20px;*/
/*}*/
/*p {*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-size: 18px;*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: 400;*/
    /*line-height: 20px;*/
/*}*/
/*blockquote {*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-size: 21px;*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: 400;*/
    /*line-height: 30px;*/
/*}*/
/*pre {*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-size: 16px;*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: 400;*/
    /*line-height: 15px;*/
/*}*/

/*navbar*/
.navbar {
    background-color: #5d8d5d !important;
    border-color: #5d8d5d !important;
}
.navbar .navbar-brand {
    background-color: #5d8d5d !important;
    color: #ffffff !important;
}
.navbar .navbar-brand:focus {
    background-color: #5d8d5d !important;
    color: #ffffff !important;
    border-radius: 5px !important;
}
.navbar .navbar-brand:hover {
    background-color: #a3d0b5 !important;
    color: #31402f !important;
    border-radius: 5px !important;
}
.navbar .navbar-text {
    color: #ffffff !important;
}
.navbar .navbar-nav > li > a {
    color: #ffffff !important;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    background-color: #a3d0b5 !important;
    color: #31402f !important;
    border-radius: 5px !important;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #31402f !important;
    background-color: #a3d0b5 !important;
    border-radius: 5px !important;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #31402f !important;
    background-color: #a3d0b5 !important;
    border-radius: 5px !important;
}
.navbar .navbar-toggle {
    border-color: #ffffff !important;
    border-radius: 5px !important;
}
.navbar .navbar-toggle:focus {
    background-color: #5d8d5d !important;
}
.navbar .navbar-toggle:hover {
    background-color: #a3d0b5 !important;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #ffffff !important;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff !important;
}
.navbar .navbar-link {
    color: #ffffff !important;
}
.navbar .navbar-link:hover {
    background-color: #5d8d5d !important;
    color: #ffffff !important;
}

@media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff !important;
    }
    .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #5d8d5d !important;
        color: #ffffff !important;
    }
    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff !important;
        background-color: #5d8d5d !important;
    }
}

/*nav pills*/
.nav-pills>li>a {
    color: #31402f !important;
}

.nav-pills>li>a.active {
    color: #ffffff !important;
    background-color: #5d8d5d !important;
}

.nav-pills>li>a:hover {
    color: #001100 !important;
    background-color: #a3d0b5 !important;
}

.nav-pills>li>a:focus {
    color: #ffffff !important;
    background-color: #5d8d5d !important;
}