html {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    overflow-y: scroll;
}

.mainContentWrapper {
    max-width: 1080px;
    margin: 0 auto;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

footer {
    text-align: center;
    font-size: 14px;
}

img {
    opacity: 0.9;
    border-radius:5px;
    position:relative;
    max-width: 100%;
    min-width: 25px;
}

.modalityImg {
    max-width: 75%;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-inner {
    background-color: #00a86b;
}

#indexContent {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

a {
    color: #00B7FF;
    font-size: 22px;
}

.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

.faqLink {
    font-size: 20px;
    cursor: pointer;
}

.mainContentWrapper {
    margin: 0 auto;
    padding: 0;
}

.profilePic {
    margin: 20px;
}

.jadeLogoHeader {
    border-radius:100%;
}

.logoHeader {
    background-color: #00a86b;
    border-radius:5px;
    border: solid #12613b 1px;
}

.headerText {
    color: #ecf0f1;
}

.vignette {
    margin-top:50px;
    margin-bottom:50px;
    border-radius: 10px;
    box-shadow: inset 0 0 100px #AACCAA, 0 0 100px #AACCAA;
}

.horizontal-align {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.vertical-align {
    display: flex;
    align-items: center;
}

figure {
    display: inline-block;
    float: right;
    margin: 20px;
}

figure figcaption {
    text-align: center;
}

/*fonts*/
h1 {
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-size: 200%;
    /*font-style: normal;*/
    /*font-variant: normal;*/
    font-weight: bold;
    /*line-height: 26px;*/
}
/*h3 {*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-size: 21px;*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: bold;*/
    /*line-height: 20px;*/
/*}*/
/*p {*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-size: 18px;*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: 400;*/
    /*line-height: 20px;*/
/*}*/
/*blockquote {*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-size: 21px;*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: 400;*/
    /*line-height: 30px;*/
/*}*/
/*pre {*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /*font-size: 16px;*/
    /*font-style: normal;*/
    /*font-variant: normal;*/
    /*font-weight: 400;*/
    /*line-height: 15px;*/
/*}*/

/*navbar*/
.navbar {
    background-color: #00a86b !important;
    border-color: #12613b !important;
}
.navbar .navbar-brand {
    color: #ecf0f1 !important;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    background-color: #00a86b !important;
    color: #ecf0f1 !important;
}
.navbar .navbar-text {
    color: #ecf0f1 !important;
}
.navbar .navbar-nav > li > a {
    color: #ecf0f1 !important;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    background-color: #00a86b !important;
    color: #ecf0f1 !important;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #ecf0f1 !important;
    background-color: #12613b !important;
}
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #ecf0f1 !important;
    background-color: #12613b !important;
}
.navbar .navbar-toggle {
    border-color: #12613b !important;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #12613b !important;
}
.navbar .navbar-toggle .icon-bar {
    background-color: #ecf0f1 !important;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ecf0f1 !important;
}
.navbar .navbar-link {
    color: #ecf0f1 !important;
}
.navbar .navbar-link:hover {
    background-color: #00a86b !important;
    color: #ecf0f1 !important;
}

@media (max-width: 767px) {
    .navbar .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1 !important;
    }
    .navbar .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #00a86b !important;
        color: #ecf0f1 !important;
    }
    .navbar .navbar-nav .open .dropdown-menu > .active > a,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ecf0f1 !important;
        background-color: #12613b !important;
    }
}

/*nav pills*/
.nav-pills>li>a {
    color: #12613b !important;
}

.nav-pills>li>a.active {
    color: #ecf0f1 !important;
    background-color: #00a86b !important;
}

.nav-pills>li>a:hover {
    color: #12613b !important;
    background-color: #CEFFCE !important;
}

.nav-pills>li>a:focus {
    color: #ecf0f1 !important;
    background-color: #00a86b !important;
}