h1 Chinese Medicinal Herb Garden

.row.visible-xs
    .col-md-12.horizontal-align
        .lightGreen-bg
            img.horizontal-align(src='images/shenNung.jpg')
            p.horizontal-align Shen Nung, Ruler/Emperor
.row
    .col-md-12
        figure.hidden-xs
            img(src='images/shenNung.jpg')
            figcaption
                | Shen Nung, Ruler/Emperor

        p
            | The Central California Valley is not only the State's agricultural hub, but a leading producer of the world's
            | vegetables and fruits. Soon to come is the first Chinese Medicinal Herb Garden in the Central Valley. We are at the
            | beginning stage of this project. When the time arrives, plants will be available for the public to view.
        p
            | This herb garden will commemorate Ruler/Emperor Shen Nung who existed in ancient China thousands of years ago. He
            | is considered the
            b  Divine Farmer, legendary originator of Chinese Herbal Medicine.
            |  He is also credited as the
            b  "Discoverer of natural medicine and the first pharmacist".
            |  He was the first to go to the mountains to picked herbs
            |   and taste them, record herbs as well as categorized them into various groups. Shen Nung's classic
            b  pharmacopoeia
            |  was
            |   the
            b  first Materia Medica
            |  of natural medicine ever compiled. Ancient text also described him as the
            b
                |  "Saint of Animal
                | Husbandry".
            |  He taught the Chinese people how to raise domestic animals and farm crops.
        p Volunteers are needed for this project.
