h1 About Asian Cultural Society

p.
    Asian Cultural Society (ACS) was formed in 2003 by Founder and current President, Dr. Kwong as a subsidiary to
    Center for Integrated Medicine (CIM). Its purpose back in 2003 was to supplement CIM, Public Education Series (which
    is an education series created to provide workshops in Traditional Chinese Medicine to intern doctors, staff and
    patients) with Chinese culture. ACS is currently a major community- based non-profit organization to preserve the
    common interests of the South Valley’s Chinese community and also to promote/foster the understanding of the Chinese
    culture to people of non-Asian decent.

p.
    Chinese cultural activities have many benefits in Visalia/ Central California Valley community. ACS mission
    statements are.
ul
    li.
        Acquire appreciation, knowledge and understanding of the Chinese culture referring to Chinese nationals (China),
        over-seas Chinese (UK, Latin America, Australia, Canada and other parts of Asia), and Chinese Americans.
    li.
        Service to the Chinese/Asian community.
    li.
        Foster a friendship and camaraderie between Chinese and people of all backgrounds.
    li.
        Understand the importance of learning the Chinese culture due to China as a economic and educational powerhouse.
        It will greatly benefit us to understand the Chinese way of thinking.

p.
    All proceeds from this program will benefit ACS cultural events, CIM medical charities such as CIM Community
    Acupuncture Clinic and Autism Spectrum/ Aspergers Ass. of Tulare/Kings County as well as CIM Public Education &
    Awareness Series.


p
    | Volunteers:
    br
    |   Dr. Kwong
    br
    |   Sujana  De Almeida
    br
    |   Sharon Heberling,
    br
    |   Lisa Heberling,
    br
    |   Sunny Wang
    br
    |   Ivana Changsing
    br
    |   Tommy Davis Nguyen
    br
    |   Beatrice Ponce
    br
    |   Deborah Moore
    br
    |   Kledsai Podchaikul
    br
    |   Christopher Sobbe
    br
    |   Gene Gong
    br
    |   And the staff at Center for Integrated Medicine


p Please contact us if you are interested in volunteering for the Asian Cultural Society.