h1 Tea Culture
.row
    .col-md-12.hidden-sm.hidden-xs
        .vignette
            img.horizontal-align(src='images/chinese-tea.jpg')
    .col-md-12
        p.
            Dr. Kwong’s interest in high quality teas began as a young child. Her maternal grandfather was a Tea Merchant in
            Guangzhou, China. His export/ import business was a major exporter of tea to overseas companies such as Lipton.
            Therefore Dr. Kwong’s exposure to tea products as a young child helped her become the Tea Connoisseur she is now.

        b You too can learn about teas!  Interested in booking a private workshop for your group?

        p Cost of 1 hour presentation is $250.00 per group of 3-5 people.  Semi-formal dress.
        ul
            li Tea brewing tutorial
            li Tea tasting/ sampling
            li Various tea types will be taught
            li Tea ceremony

        p Call clinic to make reservation.