h1 Feng Shui
.row
    .col-md-12
        .vignette
            img.horizontal-align.modalityImg(src='images/modalities/fengShui.jpg')
    .col-md-12
        p.
            The Chinese art of placement so that the natural Qi flows properly in a given environment. A Qi enriched environment
            attracts all kinds of benefits and positive opportunities and of course improves your health. Our surroundings are
            alive, connected and always changing.  Therefore, you should always have a critical eye towards your environment,
            especially your home and your work place, for the smooth flow of the vital energy that surrounds you.
        p.
            Feng Shui incorporates Chinese beliefs, thought and customs such as Taoism, Confucianism and the I-Ching.
