h1 Gua Sha
.row
    .col-md-12
        .vignette
            img.horizontal-align(src='images/modalities/guaSha.jpg')
    .col-md-12
        p.
            Gua sha is an ancient healing technique used by many clinicians of TCM. In this procedure, a lubricating medium,
            such as massage oil, is applied to the skin of the area to be treated. A smooth-edged instrument is used by the
            acupuncturist to apply short or long strokes on the skin, typically in the area of pain or on the back parallel to
            the spine. This stroking motion creates raised redness (petechiae) or bruising (ecchymosis). By J. Starkey, L.Ac.

        p.
            Gua-sha: A method in Traditional Chinese Medicine in which the skin on the back,
            neck, shoulders, buttocks, and/or limbs is lubricated and then pressured and
            scraped in strokes with a round-edge instrument. Instruments include a ceramic
            spoon, metal cap with rounded edge, slice of water buffalo horn, or jade as is used
            in Asia. The method produces &quot;sha&quot; which are small red petechiae (round red,
            brown, or purple spots) which fade in 2 to 4 days.
            The patient is recommended to rest for awhile after a Gua-sha treatment and drink a
            glass of warm water.
            The patient is then instructed not to shower or bathe within one hour after treatment.
            A cold shower or bath (including swimming) should be avoided for at last 24 hours.
            It is important to keep all treatment areas covered and warm. Patients should also
            be sure to keep away from windy conditions, including fans and AC.
            Consult with your Licensed Acupuncturist (L. Ac.) for more information.