h1 High Grade Teas
.row
    .col-md-12
        .vignette
            img.horizontal-align.modalityImg(src='images/modalities/highGradeTeas.jpg')
    .col-md-12
        p.
            In China, the name for tea is “cha”, and is presented with simplicity in a
            relaxed and meditative atmosphere. Drinking tea tempers the mind, body,
            and spirit, alerts thought, prevents and causes drowsiness, as well as lightens
            and refreshes the body. There are many types of teas such as: black, oolong,
            green/white, flower and herb. Tea is naturally caffeinated and depending on
            the brand, type and how it is brewed, tea can have 10mg to 60mg of caffeine
            per 8oz serving. Herbal teas have none. When compared to coffee, which
            can have up to 180mg of caffeine per 8oz or more, tea has a significantly
            less amount of caffeine. Tea contains, (depending on brand, type, and how it
            is brewed once again), 20 essential and non-essential amino acids, 12 sugars,
            6 organic acids, polyphenolic compounds (antioxidants), essential oils,
            fluoride, theophylline (which is used to treat asthma/breathing), and ascorbic
            acid (vitamin C).
        p.
            Come and browse our selection of teas and purchase them directly from our
            clinic at the Jade Garden Pharmacy. No prescription is needed. We also offer
            a private presentation on Chinese tea culture for individuals and groups. Call
            (559) 625-4246