h1 Mindfulness
.row
    .col-md-12
        .vignette
            img.horizontal-align(src='images/modalities/meditation.jpg')
    .col-md-12
        p
            b Guided Imagery
            |  can be described as a form of directed daydreaming. You will learn to shift your mental attention to
            |   a place you imagine or recall that represents a relaxed, safe environment. You bring all of your senses into an
            |   awareness of this place-seeing, hearing and feeling the sensations in your body associated with being there. As you
            |   deepen your awareness, you use your breath and intent to deepen your experience of relaxation. You are welcome to
            |   try this while on the table during acupuncture session or during your practice of Tai Chi or Qi Gong.
        p
            b Mindfulness
            |  is a form of meditation that focus on becoming aware of yourself- your thoughts, your breathing, your
            |   emotions and the world around you with nonjudgmental acceptance.  By maintaining awareness moment by moment and
            |   loosening any strong attachments to thoughts and emotions, you develop a greater sense of balance and well-being.
            |   Through acceptance of yourself and your circumstances, you no longer expend energy resisting them, allowing you to
            |   manage your situation from a more relaxed, engaged perspective. Mindfulness is often used during Tai Chi or Qi Gong
            |   healing exercises, counseling to motivate lifestyle changes and stress reduction.

