h1 Qi Gong
.row
    .col-md-12
        .vignette
            img.horizontal-align.modalityImg(src='images/modalities/qiGong.jpg')
    .col-md-12
        p.
            Some thousands of years ago, a famous Chinese medical doctor, Hua-Tuo, emphasized physical and mental
            exercise as a means of improving health.  He believed that human beings should exercise and imitate the
            movements of animals such as birds, tigers, and snakes, etc. The word Qi Gong consists of "Qi" which means
            vitality, life force and "Gong" which means practice, cultivate, refine.  Together, Qi Gong means to
            cultivate and refine through practice one's life energy.
        p.
            As Qi Gong predates the practice of Tai Chi in historical terms, the practice of Qi Gong has been
            intertwined with the practice of Tai Chi over the years. To put it simply, if you adjust to a relaxed
            upright posture, take a deep breath and relax your mind-  you are already doing Qi Gong.
        p.
            Refer to link "Classes" for more information.