h1 Tai Chi
.row
    .col-md-12
        .vignette
            img.horizontal-align.modalityImg(src='images/modalities/taiChi.jpg')
    .col-md-12
        p.
            Pronounced tie jee choo-wan is a form of Chinese mind-body energetics.  Tai Chi along with other branches of
            Traditional Chinese Medicine were established thousands of years ago in China.  A slow moving healing
            exercise that focus on stabilizing the inner-core, the internal aspects of the body.  Unlike that of Western
            type exercises that focus primarily on external aspects such as body building, etc.
        p.
            Tai Chi is a well balanced fitness program which includes body conditioning, strength, and flexibility.
            Participants will learn to be better connected with one's body and healing powers within.  It involves
            physical activity, meditation, internal massage and breathing techniques.
        p.
            Refer to link "Classes"  for more information.