h1 Tai Chi
.row
    .col-md-12
        .vignette
            img.horizontal-align.modalityImg(src='images/modalities/taiChi.jpg')
    .col-md-12
        p.
            Tai Qi, (T’ai Chi), Chuan is an exercise system of ancient origin. It is an art of self-discipline and self-defense
            based upon the movements of animals and birds as well as the philosophy of Yin and Yang. It helps promote inner
            relaxation, harmony, and strength if practiced regularly. Tai Qi blends the internal meditation association of Qi
            Gong with an external exercise program. It involves slow, graceful movements and can be practiced almost anywhere.
