.row
    .col-md-6
        .row
            include ../staffInternDetails/christinLang
    .col-md-6
        hr
        .row
            include ../staffInternDetails/kandaceDresser
hr
.row
    .col-md-6
        .row
            include ../staffInternDetails/edwardVelasquez
    .col-md-6
        hr
        .row
            include ../staffInternDetails/craigTisdale
hr
.row
    .col-md-6
        .row
            include ../staffInternDetails/adrianRayos
    .col-md-6
        hr
        .row
            include ../staffInternDetails/alanKleist
hr
.row
    .col-md-6
        .row
            include ../staffInternDetails/geneGong
