.row.vertical-align
    .col-md-6
        .row.vertical-align
            include ../staffInternDetails/christinLang
    .col-md-6
        .row.vertical-align
            include ../staffInternDetails/kandaceDresser
hr
.row.vertical-align
    .col-md-6
        .row.vertical-align
            include ../staffInternDetails/edwardVelasquez
    .col-md-6
        .row.vertical-align
            include ../staffInternDetails/craigTisdale
hr
.row.vertical-align
    .col-md-6
        .row.vertical-align
            include ../staffInternDetails/adrianRayos

    .col-md-6
        .row.vertical-align
            include ../staffInternDetails/alanKleist
hr
.row.vertical-align
    .col-md-6
        .row.vertical-align
            include ../staffInternDetails/geneGong