.col-md-4
    img.horizontal-align.profilePic(src='images/staff/alanKleist.jpg')
.col-md-8
    b.horizontal-align Alan Kleist
    ul
        li.
            Office Clerk, Herb Gardening
        li.
            Massage Therapist