.col-md-4
    img.horizontal-align.profilePic(src='images/staff/christinLang.jpg')
.col-md-8
    b.horizontal-align Christin Lang
    ul
        li.
            Medical Receptionist
        li.
            Pre-med student. College of Sequoias, Visalia