.col-md-4
    img.horizontal-align.profilePic(src='images/staff/edwardVelasquez.jpg')
.col-md-8
    b.horizontal-align Edward Velasquez
    ul
        li.
            BA
        li.
            Certified Tai Qi Instructor (Sun Style Short Form)
        li.
            Certified Qi Gong Instructor