.col-md-4
    img.horizontal-align.profilePic(src='images/staff/geneGong.jpg')
.col-md-8
    b.horizontal-align Gene Gong
    ul
        li.
            Asian Cultural Society
        li.
            General Food Store. Woodlake, CA