h1 Holistic Health Certificate

p.
    An excellent program for health care professionals, massage therapists, social workers, counselors, teachers, college
    students and anyone interested in living healthier. As with any certificate program, it is designed to give
    educational information on natural and holistic medicine. It does not allow the recipient to practice medicine.
    Those who are interested in diagnosis and treatment! Degree in natural, holistic, Traditional Chinese Medicine is to
    be referred to our “Medical Apprenticeship” program.
ul
    li No educational pre-requisites require.
    li Hands-on training, better than any “on-line” program.
    li No require textbooks.
    li Convenient schedule. One or two lectures per month (usually weekends or weekday evenings).
    li Lectures/classes are on-going. Each workshop is approximately 1&1/2 hours. A total of 12 workshops that must be
        |  finish in 2years period. Missed class(es) can be repeated.
    li Easy to achieve. Students enroll in small classes. Open book test after completion of at least 12 workshops.
    li Handouts and learning materials will be provided.
    li You can begin your certificate program any time. Workshops usually start in March/April and end in November.
    li A $10,000 value at ‘major universities for just $800.00 (original price since 2007).
p.
    No charge to CIM employees and interns.
ul
    li If student is under 18 years old, must have parental consent (written).

h3 How to apply?

p.
    Come to Visalia clinic to pick up application form. Submit application form with half of tuition due before start of
    your first workshop. Second half of tuition due three months later. No tuition refund after first class. Call
    559-625-4246 for more information.