h1 Internships
p.
    Internship available in Holistic and Natural medicine. Great opportunity to learn first-hand with TCM doctor. CIM is
    the only Clinic in the Central Valley that does not charge for internship positions.
p.
    Doctorate Degree in Osteopath, Podiatry, Pharmacy, Optometry, Dentistry, Psychology, or Veterinary.
p.
    Masters Degree in Education, Physical Therapy, Health Care Administration, Public Health, Ministry.
p.
    Bachelors Degree in Nursing,  Biology, Chemistry, Teaching, Social Work, Psychology/Counseling.
p.
    Internship objectives and descriptions can be sent to your University for school credits. Interested candidates
    must have GPA if 3.2 or higher. Resume with 3 work references can be email to Dr. Kwong.

h3 Business Degree Students or Graduates
ul
    li Bachelor’s degree in business or at least three years of full-time college experience with 3.2 GPA or higher.
    li Excellent verbal communication skills.
    li Excellent written communication skills.
    li Strong work ethic with a positive professional attitude.
    li Excellent computer skills.
    li Initiative and analytical skills.
    li Goal-oriented and results driven.
    li Critical thinking and organizational/follow-up skills with attention to details.
    li Ability to work independently in a fast-paced environment; perform tasks in a timely manner.

b Interested parties should bring resume with three work references.

h3 Benefits for Interns
ul
    li Health benefits (50%)
    li Discounts to products (25%)
    li Holistic Health Certificate ($8000)
    li Career/graduate school Advising ($500)