h1 Medical Apprenticeship

p.
    Are you interested in becoming a Doctor in Traditional Chinese Medicine/ Acupuncturist? Are you interested in a
    career in natural and holistic medicine? But, like most students in the Central Valley, you:
ul
    li Cannot afford the high cost of medical school.
    li Do not want a structure academic full-time classroom studies.
    li Prefer not to leave home/ family as a medical student.
    li Do not want to hassle with the medical admission application process and testing.
    li Want a direct entrance into a professional clinical medical program without a bachelors degree.

p.
    There will be no tuition fees charged to the Apprentice. This program allows the trainee/apprentice to apply
    directly to take the medical exam after a minimum period of  4 years training at Center for Integrated Medicine.
    Center for Integrated Medicine will provide formal clinical training with supplemental theoretical and didactic
    instruction. As well as assistance in placing Apprentice in a clinical hospital residency after the apprenticeship
    is completed.  This program is approved by California Dept. of Consumer Affairs and authorized by the U.S. Dept. of
    Education.

p.
    Applicants must have the following academic pre-requisites with a minimum cumulative GPA of 3.5 and science GPA of
    3.0.
ul
    li 1 semester General Biology (laboratory must be included).
    li 1 semester General Chemistry (laboratory must be included).
    li 1 semester General Physics (laboratory must be included).
    li 1 semester Human Anatomy (microscopic and gross anatomy; laboratory must be included).
    li 1 semester Human Physiology (laboratory must be included).
    li 1 semester Nutrition
    li 1 semester of General Psychology (counseling skills must be included)
    li 1 semester Botany (Plant Biology) or Microbiology (laboratory must be included)
    li 1 semester of General Chemistry II or Biochemistry (laboratory must be included)
    li 2 units of Medical Terminology
    li 1 semester of Statistics, Trigonometry or Calculus
    li 2 semesters of English (Composition, Essay, Creative writing, Literature must be included).
    li 1 semester of Economics or Business Writing
    li 2 semesters of Humanities (Archaeology or Ancient History must be included).
    li 1 semester of Sociology.
    li 1 semester in General Health & Hygiene.
    li 1 semester in Public Speaking
p.
    All science courses must be design for pre-med majors.  Ask your college counselor if you are unsure. If you want to
    include high school AP courses, only an “A” grade is acceptable for any of the above subjects.


p Other Requirements are the following.
ul
    li At least 23 years of age with valid drivers license.
    li Computer literate.
    li Must be able to lift at least 25 pounds if needed and able to get up from chair readily.



p Candidates are encourage to apply with the following information.
ul
    li Resume
    li Two recommendation letters (one must be from school’s counselor, teacher or other staff)
    li Personal statement (no more than two pages). Explain why you are a good candidate to become a Physician of TCM/ Acupuncturist? TCM/ Acupuncture is one of the most requested form of therapy in today‘s healthcare. Why is it so?
    li Official college(s) transcript
    li Passport photo and copy of drivers license.
    li Commitment letter from family member; family support of candidate’s medical education (no more than one page)
    li $25.00 application fee (non-refundable)

p Sent or drop off one envelope with all necessary papers to Dr. Kwong at 725 W. Main Street.  Visalia, CA 93291
p.
    This program will save the student at least $150,000.00 on medical education.  Only two will be accepted, so apply
    early. Central valley applicants will have priority status.  For more information, call 559-625-4246 for more
    details.