p
    h3 Over-the-Counter Pharmacy:
p
    b No prescription by Acupuncturist needed.
    |  Browse through our selection of:
ul
    li High grade premium tea leaves (some personally select by Dr. Kwong from China).
    li
        | Healing foods and soups, nutritional medicine. Old fashion Chinese recipes for healthy eating. Each package comes with instructions.
    li Injury medicine (a.k.a. Kung Fu medicine) Herbal liniments and soaks
    li Natural facial products
    li Tea cups and utensils
    li Health books
    li other
p
    | Sign up for our nutritional/cooking workshop: “The Chinese Way of Eating Healthy”. Please feel free to call the
    | clinic for more information.

p.
    In China, the name for tea is “cha”, and is presented with simplicity in a relaxed and meditative atmosphere.
    Drinking tea tempers the mind, body, and spirit, alerts thought, prevents and causes drowsiness,lightens and
    refreshes the body. There are four types of teas: black, oolong, green and white.
p.
    Tea is naturally caffeinated and depending on the brand, type, and how it is made, tea can have 10mgs to 60mg of
    caffeine per 8oz serving. Herbal teas have none. When compared to coffee, which can have up to 180mg of caffeine per
    8oz, or more, tea has a significantly less amount of caffeine. Tea contains, (depending on brand, type, and how its
    brewed once again), 20 essential and non-essential amino acids, 12 sugars, 6 organic acids, polyphenolic compounds
    (Antioxidants), essential oils, fluoride, theophylline (which is used to treat asthma, helps breathing), and
    ascorbic acid (vitamin C).
p.
    Purchase teas directly from our clinic.  No prescription necessary.  Call (559) 625-4246.
