p
    h3 Prescriptions:
p
    | Your TCM doctor/Acupuncturist will most likely prescribe custom tailored herbs for your clinical conditions.
    b
        | Herbs
        | in your prescription of medicinal grade which means that they cannot be obtained without an Acupuncturist license.
    |   Loose (mostly botanical) herbs are mixed together into an individualized herbal formula based on your specific TCM
    |   holistic diagnosis. It will be in other forms such as pills, granules, topical patches, or soaks. Your Acupuncturist
    |   will instruct you as to the preparation and dosages. Patient compliance is crucial in order for the herbs to achieve
    |   their therapeutic results.
p
    | Herbal medicine goes
    b hand-in-hand with Acupuncture.
    |  It is an essential component to the overall treatment process
    b
        | especially in autoimmune disorders, infertility, pain issues, cancer care support, mental-emotional, and other
        | chronic illnesses.
    |  It is impossible for any clinic to see patients for acupuncture daily or twice a day as a China’s
    |   hospital. Therefore, additional nutrition and herbs to complement acupuncture sessions are an important part to the
    |   TCM regimen. In some cases, herbal medicine is the majority of the treatment process.
p
    b
        | One of the job description of an Acupuncturist is the prescribing of herbs/natural medicine (in the  State of
        | California it is referred to as drugless substances). Acupuncturist are the only health care professionals who
        | studied herbal medicine in TCM/Acupuncture medical school, and have clinical training in its uses, and be examined
        | for competency. Therefore they are specifically licensed to prescribe herbs/natural substances.