nav.classesNav#classesNav
    .hidden-xs
        ul.nav.nav-pills
            li
                a#b1.active(href='javascript:getContent("taiChi", "services/classes/", "classes");') Tai Chi
            li
                a#b2(href='javascript:getContent("qiGong", "services/classes/", "classes");') Qi Gong
            li
                a#b3(href='javascript:getContent("eatingHealthy", "services/classes/", "classes");') Chinese Way of Eating Healthy
    .form-group.visible-xs
        select#classesSelect.form-control(onchange='javascript:getContentFromDropdown(this.value);')
            option#c1(value='taiChi,services/classes/,classes') Tai Chi
            option#c2(value='qiGong,services/classes/,classes') Qi Gong
            option#c3(value='eatingHealthy,services/classes/,classes') Chinese Way of Eating Healthy

script.
    $('.classesNav li a').click(function() {
        removeActive('#classesNav');
        selectNav($(this).attr('id'), ['#b'], '#c');
    });

    $('#classesSelect').change(function() {
        removeActive('#classesNav');
        selectNav($(this).children(":selected").attr("id"), ['#b'], '#c');
    });