nav.modalityNav#modalityNav
    .hidden-xs.hidden-sm
        ul.nav.nav-pills.nav-stacked
            li
                a#a1.active(href='javascript:getContent("acupressure", "services/modalities/", "modality");') Acupressure
            li
                a#a2(href='javascript:getContent("acupuncture", "services/modalities/", "modality");') Acupuncture
            li
                a#a3(href='javascript:getContent("cupping", "services/modalities/", "modality");') Cupping
            li
                a#a4(href='javascript:getContent("fengshui", "services/modalities/", "modality");') Feng Shui
            li
                a#a5(href='javascript:getContent("guaSha", "services/modalities/", "modality");') Gua Sha
            li
                a#a6(href='javascript:getContent("foodTherapy", "services/modalities/", "modality");') Food Therapy
            li
                a#a7(href='javascript:getContent("herbalMedicine", "services/modalities/", "modality");') Herbal Medicine
            li
                a#a8(href='javascript:getContent("highGradeTeas", "services/modalities/", "modality");') High Grade Teas
            li
                a#a9(href='javascript:getContent("mindfulness", "services/modalities/", "modality");') Mindfulness
            li
                a#a10(href='javascript:getContent("moxibustion", "services/modalities/", "modality");') Moxibustion
            li
                a#a11(href='javascript:getContent("musicTherapy", "services/modalities/", "modality");') Music Therapy
            li
                a#a12(href='javascript:getContent("tuiNaMassage", "services/modalities/", "modality");') Tui Na Massage
            li
                a#a13(href='javascript:getContent("taiChi", "services/modalities/", "modality");') Tai Chi
            li
                a#a14(href='javascript:getContent("qiGong", "services/modalities/", "modality");') Qi Gong
    .visible-sm
        ul.nav.nav-pills
            li
                a#b1.active(href='javascript:getContent("acupressure", "services/modalities/", "modality");') Acupressure
            li
                a#b2(href='javascript:getContent("acupuncture", "services/modalities/", "modality");') Acupuncture
            li
                a#b3(href='javascript:getContent("cupping", "services/modalities/", "modality");') Cupping
            li
                a#b4(href='javascript:getContent("fengshui", "services/modalities/", "modality");') Feng Shui
            li
                a#b5(href='javascript:getContent("guaSha", "services/modalities/", "modality");') Gua Sha
            li
                a#b6(href='javascript:getContent("foodTherapy", "services/modalities/", "modality");') Food Therapy
            li
                a#b7(href='javascript:getContent("herbalMedicine", "services/modalities/", "modality");') Herbal Medicine
            li
                a#b8(href='javascript:getContent("highGradeTeas", "services/modalities/", "modality");') High Grade Teas
            li
                a#b9(href='javascript:getContent("mindfulness", "services/modalities/", "modality");') Mindfulness
            li
                a#b10(href='javascript:getContent("moxibustion", "services/modalities/", "modality");') Moxibustion
            li
                a#b11(href='javascript:getContent("musicTherapy", "services/modalities/", "modality");') Music Therapy
            li
                a#b12(href='javascript:getContent("tuiNaMassage", "services/modalities/", "modality");') Tui Na Massage
            li
                a#b13(href='javascript:getContent("taiChi", "services/modalities/", "modality");') Tai Chi
            li
                a#b14(href='javascript:getContent("qiGong", "services/modalities/", "modality");') Qi Gong
    .form-group.visible-xs
        select#modalitySelect.form-control(onchange='javascript:getContentFromDropdown(this.value);')
            option#c1(value='acupressure,services/modalities/,modality') Acupressure
            option#c2(value='acupuncture,services/modalities/,modality') Acupuncture
            option#c3(value='cupping,services/modalities/,modality') Cupping
            option#c4(value='fengshui,services/modalities/,modality') Feng Shui
            option#c5(value='guaSha,services/modalities/,modality') Gua Sha
            option#c6(value='foodTherapy,services/modalities/,modality') Food Therapy
            option#c7(value='herbalMedicine,services/modalities/,modality') Herbal Medicine
            option#c8(value='highGradeTeas,services/modalities/,modality') High Grade Teas
            option#c9(value='mindfulness,services/modalities/,modality') Mindfulness
            option#c10(value='moxibustion,services/modalities/,modality') Moxibustion
            option#c11(value='musicTherapy,services/modalities/,modality') Music Therapy
            option#c12(value='tuiNaMassage,services/modalities/,modality') Tui Na Massage
            option#c13(value='taiChi,services/modalities/,modality') Tai Chi
            option#c14(value='qiGong,services/modalities/,modality') Qi Gong

script.
    $('.modalityNav li a').click(function() {
        removeActive('#modalityNav');
        selectNav($(this).attr('id'), ['#a', '#b'], '#c');
    });

    $('#modalitySelect').change(function() {
        removeActive('#modalityNav');
        selectNav($(this).children(":selected").attr("id"), ['#a', '#b'], '#c');
    });