h1 Fees
p
    b New Patient initial appointment (approximately 1& ½ hrs).
    |  Physician to go over your health history, performs TCM
    |   (Traditional Chinese Medicine) assessments and review clinical findings based on TCM principles to determine TCM
    |   holistic diagnosis (es). Therapeutic modalities are then performed by TCM physician/ Acupuncturist based on the
    |   determined holistic diagnosis (es)/imbalances. This session may include acupuncture, herbs, DPT lamping, essential
    |   oils, health coaching, health music and relaxation. $125.00
p
    b Follow-Up/Established Patient appointment (approximately 45 minute to 1 hr).
    |  Review of clinical findings and TCM
    |   assessments. Adjustments in therapy plan if needed. Therapeutic modalities are than performed as previously by TCM
    |   physician/ Acupuncturist. This session may include acupuncture, herbs, DPT lamping, essential oils, health coaching,
    |   health music and relaxation. $80.00
p
    b
        | Nutritional/TCM Food Therapy (which includes diet based on your TCM body type) consult (approximately 1 hour).
    |  TCM
    |   physician/Acupuncturist to review your diet diary, supplements and vitamins. Also review of health history, perform
    |   TCM physical assessments and determine holistic imbalances. Recommendation of Chinese nutritional foods and recipes
    |   for your disease/ illness. Highly recommended for chronic conditions, autoimmune diseases or prevention/health
    |   preservation. $125.00. Patient must come prepare with paperwork from clinic.
p
    b
        | General consultation for new patients (not require for all new patients) approximately 1&½ hr.
    |   For those patients
    |   who need a general understanding to TCM as a natural and holistic health system and how it pertains to his/her
    |   disease or illness. Review of any functional blood analysis, other blood tests and labs. Acupuncturist/TCM
    |   physician to provide a detail description of its assessment as well as to explain the therapeutic concepts and
    |   principles to the therapy plan recommended. This consult is also helpful to new patients with extensive health
    |   history or with complicated cases. $125.00.
p
    | Herbal medicine appointment for new patient. Review of health systems by Acupuncturist/ TCM physician. TCM
    | assessment to determine differential diagnosis. Customized Herbal prescription is prescribed.  Herbs to be dispensed
    | at our Jade Garden pharmacy, on-site natural medicinal pharmacy for you to take home. $125.00
p
    b Herbal medicine appointment for established patient.
    |  Review of clinical findings.  TCM assessments and adjustment
    |   to previous prescription if needed.  Herbal prescription will be dispensed at our on-site natural medicine pharmacy,
    |   Jade Garden pharmacy.  $80.00
p
    b Herbal Refills.
    |  $20.00 a bag/ bottle.
p
    b Massage (approximately one hour).
    |  Full body by certified massage therapist.  $45.00.  This discounted price is only
    |   offer to clinic patients. Must be paid in advance to reserve the appointment.
p
    b Tai Chi instruction (approximately one hour).
    |  Log into “Events” for Group sessions. Private lessons from certified
    |   Tai Chi instructors can also be arrange.
p
    b Qi Gong instruction.
    |  Group instruction approximately one hour.  6 sessions for $60.00. Chinese healing exercises,
    |   breathing, Qi cultivation and stretching.  Log into “Events” for more information.
p
    b Ear/ Auricular treatment, group sessions (approximately one hour).
    |  Acupuncturists to perform ear acupuncture, ear
    |   seeds, Chinese essential oils. Patient to sit on chair. Little talking during therapy sessions for it is intended as
    |   a  group. $35.00.  For those who cannot afford private acupuncture sessions, this is the next best for smoking
    |   cessation, drug detox, addictions,  anxiety, weight loss, insomnia, etc.
p
    b Moxabustion, Acupuncture and Herbs for new patients.
    |  Also see description above under “New Patient Initial
    |   Appointment“.  $135.00
p
    b Moxabustion, Acupuncture and Herbs for established patients.
    |  Also see description above under ”Follow-up/established
    |   patient appointment”.  $90.00
p
    b Cupping, Acupuncture, Herbs for new patients
    | . Also see description above under “New Patient Initial Appointment“. $145.00
p
    b Cupping, Acupuncture, Herbs for established patients.
    |  Also see description above under ”Follow-up/ established
    |   patient appointment”.  $100.00
p
    b Oriental Body Work (approximately one hour).
    |  If these modality are done by itself without acupuncture or herbs. They
    |   are only offer to clinic patients as part of their TCM therapy protocol.
ul
    li Cupping. $45.00
    li Moxabustion. $45.00
    li Gua Sha. $45.00
    li Facial acupressure/ gymnastics. $45.00
p
    b Feng Shui.
    |   House call approximately 2 hours. $250.00  Papers and photos must be be submitted 1 week prior to
    |   appointment.
