.row.vertical-align
    .col-md-6
        .row

            .col-md-12
                p
                    | Our
                    b  on-site
                    |  natural medicine Chinese herb pharmacy is one of the standout features of our Center. The pharmacy is
                    |   designed so you as a patient can pick up your prescription after your acupuncture session which is quite convenient.
                    b
                        |  This pharmacy has both a prescription area and an over-the-counter area (non-prescription).
            .col-md-12
                br
                include subNavBars/jadeGardenNav
    .col-md-6
        .vignette
            img.horizontal-align(src='images/jadeGardenPharmacy2.jpg')

.row
    .col-md-12
        #jadeGardenContent
            include jadeGarden/prescriptions