h1 Jade Garden Pharmacy

p
    | Our
    b  on-site
    |  natural medicine Chinese herb pharmacy is one of the standout features of our Center. The pharmacy is
    |   designed so you as a patient can pick up your prescription after your acupuncture session which is quite convenient.
    b
        |  This pharmacy has both a prescription area and an over-the-counter area (non-prescription).

.row
    .col-md-12
        include subNavBars/jadeGardenNav
.row
    .col-md-12
        #jadeGardenContent
            include jadeGarden/prescriptions